<a href="https://colab.research.google.com/github/durgasrilakshmigithub/durga/blob/main/Fashion_Product_Classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Fashion Product clasifier

Downloading the data

In [25]:
!pip install opendatasets

Requirement already satisfied: opendatasets in /usr/local/lib/python3.10/dist-packages (0.1.22)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from opendatasets) (4.66.1)
Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (from opendatasets) (1.5.16)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from opendatasets) (8.1.6)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2023.7.22)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.31.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (8.0.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (2.0.4)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from kaggle->opendatasets) (6.0.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->kaggle->opendatasets) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle->opendatasets) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle->opendatasets) (3.4)

In [26]:
import opendatasets as od

In [28]:
od.download("https://www.kaggle.com/datasets/paramaggarwal/fashion-product-images-small")

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: gdurgasrilakshmi
Your Kaggle Key: ··········
Downloading fashion-product-images-small.zip to ./fashion-product-images-small

100%|██████████| 565M/565M [00:10<00:00, 59.1MB/s]

In [29]:
 cd fashion-product-images-small/

/content/fashion-product-images-small/fashion-product-images-small

image name with extenction

In [30]:
import pandas as pd

In [31]:
df =pd.read_csv("styles.csv",error_bad_lines=False)

<ipython-input-31-7f2bf335d5c3>:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df =pd.read_csv("styles.csv",error_bad_lines=False)
Skipping line 6044: expected 10 fields, saw 11
Skipping line 6569: expected 10 fields, saw 11
Skipping line 7399: expected 10 fields, saw 11
Skipping line 7939: expected 10 fields, saw 11
Skipping line 9026: expected 10 fields, saw 11
Skipping line 10264: expected 10 fields, saw 11
Skipping line 10427: expected 10 fields, saw 11
Skipping line 10905: expected 10 fields, saw 11
Skipping line 11373: expected 10 fields, saw 11
Skipping line 11945: expected 10 fields, saw 11
Skipping line 14112: expected 10 fields, saw 11
Skipping line 14532: expected 10 fields, saw 11
Skipping line 15076: expected 10 fields, saw 12
Skipping line 29906: expected 10 fields, saw 11
Skipping line 31625: expected 10 fields, saw 11
Skipping line 33020: expected 10 fields, saw 11
Skipping line 35748: expected 10 fields, saw 11
Skipping line 35962: expected 10 fields, saw 11
Skipping line 37770: expected 10 fields, saw 11
Skipping line 38105: expected 10 fields, saw 11
Skipping line 38275: expected 10 fields, saw 11
Skipping line 38404: expected 10 fields, saw 12

In [51]:
df.head(10)

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt
5,1855,Men,Apparel,Topwear,Tshirts,Grey,Summer,2011.0,Casual,Inkfruit Mens Chain Reaction T-shirt
6,30805,Men,Apparel,Topwear,Shirts,Green,Summer,2012.0,Ethnic,Fabindia Men Striped Green Shirt
7,26960,Women,Apparel,Topwear,Shirts,Purple,Summer,2012.0,Casual,Jealous 21 Women Purple Shirt
8,29114,Men,Accessories,Socks,Socks,Navy Blue,Summer,2012.0,Casual,Puma Men Pack of 3 Socks
9,30039,Men,Accessories,Watches,Watches,Black,Winter,2016.0,Casual,Skagen Men Black Watch

In [52]:
 df['image'] = df.apply(lambda row: str(row['id']) + ".jpg", axis=1)

In [53]:
df.head(10)

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,image
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt,15970.jpg
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans,39386.jpg
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch,59263.jpg
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants,21379.jpg
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt,53759.jpg
5,1855,Men,Apparel,Topwear,Tshirts,Grey,Summer,2011.0,Casual,Inkfruit Mens Chain Reaction T-shirt,1855.jpg
6,30805,Men,Apparel,Topwear,Shirts,Green,Summer,2012.0,Ethnic,Fabindia Men Striped Green Shirt,30805.jpg
7,26960,Women,Apparel,Topwear,Shirts,Purple,Summer,2012.0,Casual,Jealous 21 Women Purple Shirt,26960.jpg
8,29114,Men,Accessories,Socks,Socks,Navy Blue,Summer,2012.0,Casual,Puma Men Pack of 3 Socks,29114.jpg
9,30039,Men,Accessories,Watches,Watches,Black,Winter,2016.0,Casual,Skagen Men Black Watch,30039.jpg

In [54]:
df.sample(frac=1)

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,image
10231,7818,Men,Apparel,Topwear,Tshirts,Navy Blue,Fall,2011.0,Casual,Proline Men Navy Striped Polo T-shirt,7818.jpg
4193,24695,Men,Footwear,Sandal,Sandals,Black,Summer,2011.0,Casual,Lotto Men Hermes Black Sandals,24695.jpg
6853,27506,Women,Apparel,Innerwear,Bra,Red,Winter,2015.0,Casual,Jockey Women Red T-shirt Bra SS 14,27506.jpg
8055,18729,Women,Apparel,Topwear,Sweaters,Magenta,Fall,2011.0,Casual,Arrow Woman Keisha Magenta Sweater,18729.jpg
16057,19028,Women,Footwear,Shoes,Casual Shoes,Yellow,Winter,2015.0,Casual,Catwalk Women Loafer Yellow Casual Shoes,19028.jpg
...,...,...,...,...,...,...,...,...,...,...,...
460,15977,Men,Apparel,Topwear,Shirts,Red,Fall,2011.0,Casual,Turtle Solid Men Red Shirt,15977.jpg
19874,43788,Women,Accessories,Jewellery,Earrings,Gold,Summer,2012.0,Ethnic,Royal Diadem Earrings,43788.jpg
4822,35189,Unisex,Accessories,Bags,Backpacks,Red,Summer,2015.0,Casual,Wildcraft Unisex Red Solid Backpack,35189.jpg
806,10857,Men,Apparel,Topwear,Tshirts,White,Fall,2011.0,Casual,Wrangler Men Rider Striper Polo White T-Shirts,10857.jpg
16839,11754,Women,Apparel,Topwear,Shirts,Purple,Summer,2011.0,Casual,Lee Women Printed Purple Shirt,11754.jpg

In [55]:
df= df.sample(frac=1).reset_index(drop=True)

In [56]:
df.head()

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,image
0,17992,Women,Apparel,Loungewear and Nightwear,Lounge Pants,Black,Summer,2010.0,Sports,Puma Women Essential Skinny Black Track Pant,17992.jpg
1,25454,Men,Footwear,Flip Flops,Flip Flops,Black,Summer,2012.0,Casual,Nike Men Benassi Solarsoft Slide Black Flip Flops,25454.jpg
2,2848,Men,Apparel,Topwear,Tshirts,Purple,Summer,2011.0,Casual,Mr.Men Men's Mr.Messy Purple T-shirt,2848.jpg
3,20893,Men,Footwear,Shoes,Casual Shoes,Black,Fall,2011.0,Casual,Basics Men Black Casual Shoes,20893.jpg
4,46690,Men,Personal Care,Fragrance,Perfume and Body Mist,Brown,Spring,2017.0,Casual,Rasasi Men Knowledge Perfume,46690.jpg

In [59]:
from keras.preprocessing.image import ImageDataGenerator
batch_size = 256


image_generator = ImageDataGenerator(
    validation_split = 0.2
)

training_generator = image_generator.flow_from_dataframe(
    dataframe =df,
    directory="images",
    x_col="image",
    y_col="masterCategory",
    target_size=(60,80),
    batch_size=batch_size,
    subset="training"
)
validation_generator = image_generator.flow_from_dataframe(
    dataframe =df,
    directory="images",
    x_col="image",
    y_col="masterCategory",
    target_size=(60,80),
    batch_size=batch_size,
    subset= "validation"
)
classes =len(training_generator.class_indices)

Found 35536 validated image filenames belonging to 7 classes.

/usr/local/lib/python3.10/dist-packages/keras/preprocessing/image.py:1137: UserWarning: Found 5 invalid image filename(s) in x_col="image". These filename(s) will be ignored.
  warnings.warn(

Found 8883 validated image filenames belonging to 7 classes.

/usr/local/lib/python3.10/dist-packages/keras/preprocessing/image.py:1137: UserWarning: Found 5 invalid image filename(s) in x_col="image". These filename(s) will be ignored.
  warnings.warn(

In [63]:
classes

7

In [64]:
from keras.models import Sequential
from keras.layers import Conv2D
from keras.layers import MaxPooling2D
from keras.layers import Flatten
from keras.layers import Dense

In [65]:
classifier = Sequential()

classifier.add(Conv2D(32,(3,3),input_shape = (60,80,3), activation = 'relu'))

classifier.add(MaxPooling2D(pool_size=(3, 3)))

classifier.add(Conv2D(32,(3,3), activation = 'relu'))
classifier.add(MaxPooling2D(pool_size=(3, 3)))

classifier.add(Flatten())

classifier.add(Dense(units=32,activation = 'relu'))
classifier.add(Dense(units=64,activation = 'relu'))
classifier.add(Dense(units=128,activation = 'relu'))
classifier.add(Dense(units=256,activation = 'relu'))
classifier.add(Dense(units=512,activation = 'relu'))

classifier.add(Dense(units=7,activation = 'softmax'))

classifier.compile(optimizer='adam',
              loss="categorical_crossentropy",
              metrics=['accuracy'])

In [66]:
from math import ceil

classifier.fit_generator(
    generator=training_generator,
    steps_per_epoch=ceil(0.8 * (df.shape[0] / batch_size)),

    validation_data=validation_generator,
    validation_steps=ceil(0.2 * (df.shape[0] / batch_size)),

    epochs=5,
    verbose=1
)

loss, acc = classifier.evaluate_generator(validation_generator, steps=ceil(0.2 * (df.size / batch_size)))
print("\n%s: %.2f%%" % (classifier.metrics_names[1], acc * 100))

<ipython-input-66-b08848a5b686>:3: UserWarning: `Model.fit_generator` is deprecated and will be removed in a future version. Please use `Model.fit`, which supports generators.
  classifier.fit_generator(

Epoch 1/5
139/139 [==============================] - 123s 872ms/step - loss: 0.6788 - accuracy: 0.8418 - val_loss: 0.2376 - val_accuracy: 0.9256
Epoch 2/5
139/139 [==============================] - 105s 758ms/step - loss: 0.2069 - accuracy: 0.9338 - val_loss: 0.2121 - val_accuracy: 0.9373
Epoch 3/5
139/139 [==============================] - 104s 746ms/step - loss: 0.1657 - accuracy: 0.9492 - val_loss: 0.1694 - val_accuracy: 0.9484
Epoch 4/5
139/139 [==============================] - 103s 744ms/step - loss: 0.1329 - accuracy: 0.9589 - val_loss: 0.1496 - val_accuracy: 0.9546
Epoch 5/5
139/139 [==============================] - 104s 752ms/step - loss: 0.1195 - accuracy: 0.9641 - val_loss: 0.1556 - val_accuracy: 0.9518

<ipython-input-66-b08848a5b686>:14: UserWarning: `Model.evaluate_generator` is deprecated and will be removed in a future version. Please use `Model.evaluate`, which supports generators.
  loss, acc = classifier.evaluate_generator(validation_generator, steps=ceil(0.2 * (df.size / batch_size)))
WARNING:tensorflow:Your input ran out of data; interrupting training. Make sure that your dataset or generator can generate at least `steps_per_epoch * epochs` batches (in this case, 382 batches). You may need to use the repeat() function when building your dataset.

accuracy: 95.18%

In [67]:
classifier.save("model.h5")

In [72]:
import numpy as np
from keras.preprocessing import image

filename = "15970.jpg"

from keras.models import load_model
new_model = load_model('model.h5')
new_model.summary()
from keras.utils import load_img, img_to_array
test_image = load_img("images/"+filename, target_size = (60, 80))
test_image = img_to_array(test_image)
#test_image = image.load_img("images/"+filename,target_size=(60,80))
#test_image = image.img_to_array(test_image)
test_image = np.expand_dims(test_image, axis = 0)

result = new_model.predict(test_image)
print(result)

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d (Conv2D)             (None, 58, 78, 32)        896

 max_pooling2d (MaxPooling2D  (None, 19, 26, 32)       0
 )

 conv2d_1 (Conv2D)           (None, 17, 24, 32)        9248

 max_pooling2d_1 (MaxPooling  (None, 5, 8, 32)         0
 2D)

 flatten (Flatten)           (None, 1280)              0

 dense (Dense)               (None, 32)                40992

 dense_1 (Dense)             (None, 64)                2112

 dense_2 (Dense)             (None, 128)               8320

 dense_3 (Dense)             (None, 256)               33024

 dense_4 (Dense)             (None, 512)               131584

 dense_5 (Dense)             (None, 7)                 3591

=================================================================
Total params: 229,767
Trainable params: 229,767
Non-trainable params: 0
_________________________________________________________________
1/1 [==============================] - 0s 117ms/step
[[1.4048553e-03 9.9844438e-01 1.3878176e-04 8.7072440e-06 4.6791106e-14
  3.2088083e-06 1.2139019e-07]]

In [73]:
val = np.argmax(result)
print(val)

1

In [74]:
my_dict = training_generator.class_indices
key_list = list(my_dict.keys())
val_list = list(my_dict.values())
print(key_list[val])

Apparel

In [75]:
import pickle
# save the model to disk
filename1 = 'key_list'
filename = 'val_list'
pickle.dump(key_list, open(filename1, 'wb'))
pickle.dump(val_list, open(filename, 'wb'))